<% content_for :title, "Editing Book" %>

<div class="page-container">
  <h1 class="page-title">Editing Book</h1>

  <%= render "form", book: @book %>

  <div class="action-links">
    <%= link_to "📘 Show this book", @book %>
    <%= link_to "📚 Back to books", books_path %>
  </div>
</div>
