

<% content_for :title, "New book" %>
<div class="page-container">
  <h1 class="page-title">New book</h1>

  <%= render "form", book: @book %>

  <br>

  <div class="action-links">
    <%= link_to "📚 Back to books", books_path %>
  </div>
</div>